/* General Formatting */
.App {
  text-align: center;
}

header {
  width: 100%;
  background-color: var(--dark-gray);
  color: var(--light);
  margin: 0;
}

/* Layout */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 100px);
}

/* Typography */
h1 {
  margin: 0;
}

code {
  display: block;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  letter-spacing: 1px;
  text-align: right;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 200px;
  margin-bottom: 0;
}

input {
  margin-bottom: 0.5rem;
  border-radius: 0.25em;
  border: 1px solid var(--dark-gray);
}

input[type="text"] {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 2rem;
  text-align: right;
  color: var(--dark-gray);
}

.btn {
  font-size: 1.5rem;
  padding: 0.25em 0.5em;
  width: 100%;
  border-radius: 0.25em;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--green);
  color: var(--light);
  border: 2px solid var(--green);
}

.btn-secondary {
  background-color: var(--dark-gray);
  color: var(--light);
  border: 2px solid var(--dark-gray);
}
