/* General Formatting */
.App {
  text-align: center;
}

header {
  width: 100%;
  background-color: var(--dark-gray);
  color: var(--light);
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 100px);
}

.math-body {
  max-width: 250px;
  position: relative;
}

.answer-info {
  margin-top: 1rem;
  background-color: var(--light-gray);
  border-radius: 0.25rem;
}

/* Typography */
h1 {
  margin: 0;
  font-size: var(--fs-large);
}

hr {
  margin: 0.5rem 0 1rem 0;
}

p {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  letter-spacing: 1px;
  text-align: right;
  margin: 0;
}

p,
input[type="text"] {
  padding-right: 0.25em;
}

small {
  font-size: 1.5rem;
  display: block;
}

.alert {
  font-size: var(--fs-small);
  text-align: left;
  width: 100%;
  position: absolute;
  top: -61.6px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 600px) {
  .alert {
    top: -67.2px;
  }
}

.alert-correct {
  color: var(--dark-green);
}

.alert-incorrect {
  color: var(--dark-red);
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 250px;
  margin-bottom: 0;
}

input {
  margin-bottom: 0.5rem;
  border-radius: 0.25em;
  border: 1px solid var(--dark-gray);
}

input[type="text"] {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 2rem;
  text-align: right;
  color: var(--dark-gray);
}

input[type="text"]:focus {
  outline-color: var(--green);
}

.input-disabled-correct {
  background-color: var(--light-gray);
  border: 1px solid var(--green);
}

.input-disabled-incorrect {
  background-color: var(--light-gray);
  border: 1px solid var(--dark-red);
}

.btn {
  font-size: 1.5rem;
  padding: 0.25em 0.5em;
  width: 100%;
  border-radius: 0.25em;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--green);
  color: var(--light);
  border: 2px solid var(--green);
  margin-top: 0.25em;
  transition: background-color 250ms ease-in-out;
}

.btn-primary:hover {
  background-color: var(--dark-green);
}

.btn-secondary {
  background-color: var(--dark-gray);
  color: var(--light);
  border: 2px solid var(--dark-gray);
  transition: background-color 250ms ease-in;
}

.btn-secondary:hover {
  background-color: var(--dark);
}

.btn-disabled {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  border: 2px solid var(--light-gray);
  margin-top: 0.25em;
}

.btn-disabled:hover {
  cursor: not-allowed;
}
